:root
{
    --color-white: #FFF;
    --color-vibrant-green: #36B37E;
    --color-bright-gray: #F9FBFE;
    --color-navy-blue: #183B56;
    --color-vibrant-dark-blue: #1565D8;
    --color-steel-blue: #5A7184;
}

*
{
    box-sizing: border-box;
}

.masterboard
{
    padding: 0 20px;
    color: var(--color-white);

    width: 320px;
    justify-content: center;
}

#teamSuggestions
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#teamSuggestions h2
{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.2px;
    text-align: center;

    color: var(--color-navy-blue);
}

#teamSuggestions .card-suggestions
{
    width: 280px;
    height: 201px;
}

#teamSuggestions .card-suggestions h3
{
    font-family: "Inter",sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;

    color: var(--color-navy-blue);
}

#teamSuggestions .card-suggestions p
{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;

    color: var(--color-steel-blue);
}