:root
{
    --color-white: #FFF;
    --color-vibrant-green: #36B37E;
    --color-bright-gray: #F9FBFE;
    --color-navy-blue: #183B56;
    --color-vibrant-dark-blue: #1565D8;

}

*
{
    box-sizing: border-box;
}

.masterboard
{
    padding: 0 20px;
    color: var(--color-white);

    width: 320px;
    justify-content: center;
}

.masterboard #teamSuggestions h1
{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.2px;
    text-align: center;

    color: var(--color-navy-blue);
}

.card-suggestions
{
    width: 280px;
    height: 201px;
}